{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block nav %}
<div class="navbar">
  <a href="/map">Return to map</a>
  <div class="dropdown">
    <button class="dropbtn">Other Countries
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/about_australia">Australia</a>
      <a href="/about_china">China</a>
      <a href="/about_germany">Germany</a>
      <a href="/about_russia">Russia</a>
      <a href="/about_southafrica">South Africa</a>
      <a href="/about_us">United States</a>
    </div>
  </div>
  <a href="/make_a_difference">Take Action</a>
  <a href="/learn_more">Learn more</a>
</div>
{% endblock %}
{% block body %}
<h1>Brazil</h1>

<p class="general_info"><b>Country name: </b>Brazil</p>
<p class="general_info"><b>GDP: </b>$14,100 (2020 est.)</p>
<p class="general_info"><b>Population: </b>217,240,060 (2022 est.)</p>
<p class="general_info"><b>Sustainable Development Index: </b>53 (Rank) 72.80 (Score)</p>
<p class="general_info"><b>Happiness Index: </b>38</p>
<p class="general_info"><b>Current carbon footprint: </b>2.28 tonnes</p>
<br><br><br>

<p class="general_info"><b>How did we get there?</b></p>
<p class="intro_cause">Home to much of the Amazon, its largest source of emissions by far is land-use change and the forestry sector. Brazil also uses large amounts of biofuels in transport and generates more than 70% of its electricity from hydropower. As well as CO2, the agricultural sector emits large amounts of nitrous oxide (N2O) and methane (CH4). The sector is currently the largest source of overall GHG emissions in Brazil, with a 34% share. Furthermore, methane (large for cattle farming) accounts for almost a third of Brazil's emissions. Emissions from the land use, land-use change and forestry (LULUCF) sector accounted for the majority of the country’s GHG emissions for decades until 2005, but the country saw a huge decline of around 70% in the decade after this. LULUCF emissions had come largely from illegal deforestation.
  LULUCF still accounts for around a fifth of Brazil’s emissions. Illegal and legal deforestation, driven by cattle ranching, soy production for livestock feed and logging for timber and charcoal, continues to be a significant problem in Brazil today. Deforestation in Brazil has major implications for the balance of CO2 in the global atmosphere. A major study released in 2015 found the amount of carbon being absorbed and stored by the Amazon rainforest had fallen by around a third over the previous decade. Another recent study found large carbon losses in Brazil and elsewhere are contributing to tropical forests turning from a global sink to a global source of emissions.</p>
<br><br>
  <p class="general_info"><b>What is being done about it?</b></p>
<p class="intro_cause">The vast majority of new cars sold in Brazil today are capable of running on pure ethanol, a gasoline-ethanol blend, or any mixture of both. Around 60% of the country’s light vehicle fleet is now made of these “flex fuel” vehicles, which allow owners to switch freely between a gasoline-biofuel blend and pure biofuel depending on their price at the pump. These were first introduced in Brazil in only 2003.
    Pure gasoline is no longer sold at pumps in Brazil, since it has had an ethanol-use mandate since 1977. This dictates the minimum amount of bioethanol required to be blended with gasoline and is currently set at 27%. For comparison, the UK’s biofuel-use target currently sits at 4.75%, while the EU has mandated a 10% blend for 2020.</p>
<br><br><br><br><br>
<br><br><br><br><br>

{% endblock %}