{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block nav %}
<div class="navbar">
  <a href="/map">Return to map</a>
  <div class="dropdown">
    <button class="dropbtn">Other Countries
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/about_australia">Australia</a>
      <a href="/about_brazil">Brazil</a>
      <a href="/about_germany">Germany</a>
      <a href="/about_russia">Russia</a>
      <a href="/about_southafrica">South Africa</a>
      <a href="/about_us">United States</a>
    </div>
  </div>
  <a href="/make_a_difference">Take Action</a>
  <a href="/learn_more">Learn more</a>
</div>
{% endblock %}
{% block body %}
<h1>China</h1>

<p class="general_info"><b>Country name: </b>China</p>
<p class="general_info"><b>GDP: </b>$16,400 (2020 est.)</p>
<p class="general_info"><b>Population: </b>1,410,539,758 (2022 est.)</p>
<p class="general_info"><b>Sustainable Development Index: </b>56 (Rank) 72.38 (Score)</p>
<p class="general_info"><b>Happiness Index: </b>72</p>
<p class="general_info"><b>Current carbon footprint: </b>8.05 tonnes</p>
<br><br><br>

<p class="general_info"><b>How did we get there?</b></p>
<p class="intro_cause">China's greenhouse gas emissions are the highest in the world in terms of both production and consumption, and they are mostly caused by the country's usage of coal, including coal-fired power plants, coal mining, and blast furnaces that produce iron and steel.
  China's annual coal production in 2021 reached a record high. In March 2022, both China's "Two Meetings," the annual plenary sessions of two of that country's key governing organisations, and the recently released 14th FYP for the energy sector emphasised the country's sustained short- and medium-term reliance on coal and fossil fuels. China's annual coal production increased to its highest level ever in 2021, while the country's consumption increased by 4.7% as a result of an increase in energy demand (relying on coal). The CAT calculates that as a result, emission levels increased by 3.7% from 2020 to 2021, reaching 14.1 GtCO2e. China intends to increase coal production by 30 GW in 2022 and by 180 GW overall by 2030. The forecast for coal is mostly influenced by growing energy security worries, which are emphasised by the severe power shortages that occurred in 2021.
  </p>
<br><br>
  <p class="general_info"><b>What is being done about it?</b></p>
<p class="intro_cause">Ahead of President Xi Jinping's agenda for the next five years, the 20th Party Congress of China in October 2022 reiterated important trends from the previous year rather than delivering any fresh headline policy updates on climate and the environment. This includes promoting industrial and energy system modernization and efficiency improvements, shifting the economy toward higher-value and cleaner output, and emphasising the need for coal as a "backstop for energy security." China is likely to increase its focus on energy security in the wake of Russia's illegal and unprovoked invasion of Ukraine with a multi-pronged strategy that includes accelerating the development of domestic fossil and renewable production capacity and creating a diverse portfolio for energy imports from the growth of overseas projects and an increase in (discounted) energy cooperation with Russia.</p>
<p class="intro_cause">In contrast to claims made by Xie Zhenhua and Tsinghua University, China's Long-term Low Greenhouse Gas Emission Development Strategy, which was presented to the UNFCCC in October 2021, clearly shows that the carbon neutrality objective solely applies to carbon dioxide. This discrepancy can result in up to 0.1°C more (CO2) or less (all GHGs) warming in 2100 due to the amount of China's emissions.</p>
<br><br><br><br><br>
<br><br><br><br><br>

{% endblock %}