{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div style="
  text-align: center;
  padding: 10px;
  margin-top: 2em;
  font-size: 100px;
  color:#192A51">
    Stainable
</div>
<p style="text-align: center; margin-bottom: 3em; font-size: 25px; color:#192A51">
  Learn more about the effects of different countries around the world on sustainability and our carbon footprint!</p>


<a href="/map" style="position: absolute; width:100%; text-align: center; font-size: 30px; color:#192A51">Open World map to learn more</a>


{% endblock %}
