{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block nav %}
<div class="navbar">
    <a href="/map">Return to map</a>
    <div class="dropdown">
      <button class="dropbtn">Carbon Emissions of Countries
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content1">
        <a href="/about_australia">Australia</a>
        <a href="/about_brazil">Brazil</a>
        <a href="/about_china">China</a>
        <a href="/about_germany">Germany</a>
        <a href="/about_russia">Russia</a>
        <a href="/about_southafrica">South Africa</a>
        <a href="/about_us">United States</a>
      </div>
    </div>
    <a href="/make_a_difference">Take Action</a>
    <a href="/learn_more">Learn more</a>
  </div>
{% endblock %}
{% block body %}
<h1>What can you do?</h1>
<p class="intro_cause">Due to the huge amount of carbon emissions around the world, it essential to find ways to reduce emissions. However, its important to remember that its not only governments or large instituions who can make a difference. Below are several ways that regular people can make small lifestyle or behaviour changes to have a positive impact on addressing the climare emergency.</p>


<p class="general_info"><b>Tips to take action and reduce your personal carbon emissions</b></p>
<p class="intro_cause"><b>Food</b>
  <ul>
    <li class="intro_cause">Buy organic or locally grown goods and products</li>
    <li class="intro_cause">Compost and reduce your food waste: You can buy meals from food companies like Guosto or HelloFresh who give the right food portions to reduce your waste!</li>
    <li class="intro_cause">Switch up your diet: Try have a plant-based meal several times a week</li>
  </ul>
</p>
<br>
<p class="intro_cause"><b>Clothing and shopping</b>
  <ul>
    <li class="intro_cause">Dont buy fast fashion: Instead buy quality clothig that will last, or otherwise try buying vintage or recycled clothing.</li>
    <li class="intro_cause">Buy less stuff!</li>
    <li class="intro_cause">Support and buy from companies that are environmentally sustainable</li>
  </ul>
</p>
<br>
<p class="intro_cause"><b>Transportation</b>
  <ul>
    <li class="intro_cause">Don't forget... reduce, reuse, recycle!</li>
    <li class="intro_cause">Reduce air travel</li>
    <li class="intro_cause">Use public transport</li>
  </ul>
</p>
<br>
<p class="intro_cause"><b>Home</b>
  <ul>
    <li class="intro_cause">Insulate your home</li>
    <li class="intro_cause">Use less water</li>
    <li class="intro_cause">Turn off the lights</li>
  </ul>
</p>
<br>
<p class="intro_cause"><b>Learn more and raise awareness to those around you</b>
  <ul>
    <li class="intro_cause">Click on the "Learn more" tab in the navigation bar to find interesting sites to learn more about carbon emissions as well as several carbon calculators.</li>
  </ul>
</p>
<br><br><br><br><br>
<br><br><br><br><br>
{% endblock %}