{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block nav %}
<div class="navbar">
  <a href="/map">Return to map</a>
  <div class="dropdown">
    <button class="dropbtn">Other Countries
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/about_australia">Australia</a>
      <a href="/about_brazil">Brazil</a>
      <a href="/about_china">China</a>
      <a href="/about_germany">Germany</a>
      <a href="/about_russia">Russia</a>
      <a href="/about_southafrica">South Africa</a>
    </div>
  </div>
  <a href="/make_a_difference">Take Action</a>
  <a href="/learn_more">Learn more</a>
</div>
{% endblock %}
{% block body %}
<h1>United States</h1>

<p class="general_info"><b>Country name: </b>United States</p>
<p class="general_info"><b>GDP: </b>$60,200 (2020 est.)</p>
<p class="general_info"><b>Population: </b>337,341,954 (2022 est.)</p>
<p class="general_info"><b>Sustainable Development Index: </b>41 (Rank) 74.55 (Score)</p>
<p class="general_info"><b>Happiness Index: </b>16</p>
<p class="general_info"><b>Current carbon footprint: </b>14.86 tonnes</p>
<br><br><br>

<p class="general_info"><b>How did we get there?</b></p>
<p class="intro_cause">The US is the second-largest fleet of coal-fired power plants in the world and is the global highest consumer and producer of both oil and natural gas. It also has the greatest nuclear and second-largest renewable energy capacity. Despite being only the second largest emitter, the US has historically produced the most CO2 of any country. The carbon footprints of its residents are nearly three times higher than the norm for the world. Burning fossil fuels for transportation, heat, and power is the main cause of human-related greenhouse gas emissions in the United States. According to the Global Coal Plant Tracker, the US had 234GW of active coal plants as of January 2021 (which is around one-fourth the capacity of China).</p>
<br><br>
  <p class="general_info"><b>What is being done about it?</b></p>
<p class="intro_cause">In 2015, the Clean Power Plan—developed in line with the Clean Air Act—marked a ground-breaking attempt to impose restrictions on CO2 emissions from US power plants.</p>
<p class="intro_cause">It was the main tactic the Obama administration expected to use in order to fulfil its initial NDC under the Paris Agreement, originally scheduled to start in 2022. The proposal was, however, sought to be eliminated and replaced with the administration's far weaker Affordable Clean Energy regulation. This was found to be in violation of the Clean Air Act by a federal appeals court in early 2021, opening the door for the Biden administration to replace it with its own rules.</p> 
<p class="intro_cause">However, the Covid-19 epidemic indirectly influenced the creation of new climate measures, such as the Consolidated Appropriations Act at the end of 2020. Although not explicitly a climate law, this $2.3 trillion spending package with $900 billion in Covid-19 stimulus contained tax incentives for renewable energy, CCS programs, and a phaseout of the planet-warming hydrofluorocarbons (HFCs). Some activists referred to it as the "most significant" piece of federal climate legislation to be approved in the US.</p>
<p class="intro_cause">Finally, the Inflation Reduction Act (IRA), the most comprehensive and possibly influential climate policy in US history, was signed into law by President Biden on August 16, 2022. More effort is needed to get there, but it puts the nation's emissions on a trajectory toward fulfilling its climate goal to cut greenhouse gas (GHG) emissions in half by 2030, below 2005 levels.</p>

<br><br><br><br><br>
<br><br><br><br><br>

{% endblock %}